* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: lightblue;
  height: 100%;
  /* width: 100%; */
  margin: 0;
}
h1,
h4 {
  /* font-size: ; */
  font-weight: 900;
}
.main {
  /* width: 100%; */
  height: 100%;
  /* background-color: royalblue; */
  /* display: flex; */
}
nav {
  height: 100px;
  /* background-color: royalblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5svw;
  border-bottom: 2px solid #dadada;
  /* width: 100%; */
}
.nav-part2 {
  /* background-color: #dadada; */
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4vw;
}
nav i {
  font-size: 1.2vw;
  font-weight: 800;
  display: none;
}
nav button {
  font-size: 1vw;
  padding: 1vw 2vw;
  background-color: lightseagreen;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.content {
  /* background-color: red; */

  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  /* flex-direction: column; */
  position: relative;
}
.left {
  width: 55%;
  height: 100%;
  /* background-color: royalblue; */
  padding: 5vw 5vw;
}
.left h1 {
  font-size: 4.2vw;
  font-weight: 900;
  line-height: 4.4vw;
}
.left h1 span {
  color: lightseagreen;
}
.left p {
  font-size: 1.2vw;
  color: #666;
  font-weight: 600;
  width: 80%;
  margin-top: 1.5vw;
  margin-bottom: 3vw;
}
.right {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 3vw;
  /* background-color: greenyellow; */
}
.right img {
  height: 90%;
  width: 100%;
  border-radius: 20px;
}
button {
  font-size: 1.2vw;
  padding: 1.3vw 2.3vw;
  background-color: lightseagreen;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}
@media (max-width: 600px) {
  nav h1 {
    font-size: 6vw;
  }
  nav {
    padding: 0 5vw;
    height: 60px;
  }
  .nav-part2 h4 {
    display: none;
    font-size: 4vw;
  }
  nav i {
    display: block;
    font-size: 6vw;
  }
  nav button {
    display: none;
  }
  .content {
    height: calc(100% - 60px);
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 45%;
    padding: 4vw 6vw;
  }
  .right {
    width: 100%;
    height: 55%;
    padding-top: 10vw;
    padding-left: 3vw;
  }
  .left h1 {
    font-size: 10vw;
    line-height: 11vw;
  }
  .left p {
    font-size: 3vw;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 6vw;
  }
  .content button {
    padding: 4vw 10vw;
    font-size: 3.5vw;
    border-radius: 3px;
    font-weight: 600;
  }
}
